.option-embedding {
  border: 1px solid transparent;
  padding: 5px;
}

/*.option-entry:hover{
  border: 2px solid transparent;
  background-color: #393737;
  padding: 5px;
  border-radius:8px;
}*/

.buttonList button {
  width: 100%;
  margin: 3px;
}

.header-react-app {
  display: flex;
  justify-content: space-between;
  height: 70px;
  max-height: 70px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.header-react-app h1 {
  color: white;
}

.optionalButtonMap {
  display: inline-grid;
  grid-template-columns: 50px 50px;
}

.contract-area {
  width: 60%;
  text-align: right;
  position: sticky;
  top: 0px;
  max-height: fit-content;
}

.contractPlane-wrapper {
  overflow: hidden;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  max-height: fit-content;
  margin-top: 10px;
}

.contractPlane {
  width: auto;
  max-height: 80vh;
  background-color: #f9f9f9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  text-align: start;
  padding: 1em;
  overscroll-behavior: contain;
}

li {
  list-style-type: none;
  padding-left: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0; /* Remove default left margin */
  padding-left: 0m; /* Adjust to control indentation */
  padding-inline-start: 0px;
}

body {
  background-color: black;
  color: white;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

/* Headings */
.contractPlane h1 {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3em;
}

.plane {
  display: flex;
  justify-content: center;
}

.contractPlane h2 {
  font-size: 0.6em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
}

.contractPlane h3 {
  font-size: 1.25em;
  margin-top: 1.2em;
  color: #444;
}

.contractPlane h4,
.contractPlane h5,
.contractPlane h6 {
  font-size: 1.1em;
  margin-top: 1em;
  font-weight: bold;
  color: #555;
}

/* Paragraphs */
span.plain {
  margin-bottom: 1em;
  color: #333;
  background-color: #f9f9f9;
}

span.plain-green {
  margin-bottom: 1em;
  color: #333;
  background-color: #11d925;
}

span.remove {
  text-decoration: line-through;
  text-decoration-color: red;
  opacity: 0.5;
  transition: opacity 1s ease;
}
span.remove-green {
  text-decoration: line-through;
  text-decoration-color: red;
  background-color: #11d925;
  opacity: 0.5;
  transition: opacity 1s ease;
}

span.green {
  background-color: #11d925;
}

span.add {
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
  background-color: rgba(0, 0, 255, 0.117);
}

span.add-green {
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
  background-color: rgba(0, 0, 255, 0.117);
}

span.focused {
  background-color: rgba(28, 10, 236, 0.13);
}

span.unfocused {
  background-color: rgba(11, 11, 235, 0);
}

.contractPlane span {
  margin-bottom: 1em;
  color: #333;
}

.contractPlane p {
  margin-bottom: 1em;
  color: #333;
}

/* Scrollbar Styling (optional, for modern look) */
.contractPlane::-webkit-scrollbar {
  width: 8px;
}

.contractPlane::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.contractPlane::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

.button-container {
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  align-items: center; /* vertikal zentrieren */
  height: 100px; /* oder beliebige Höhe */
  width: 100%; /* optional */
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 15px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  border-radius: 50px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 5px;
}

/* CSS */

.export-button-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  max-width: 520px;
}

.export-button {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family:
    -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande",
    Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  max-height: fit-content;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition:
    background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.export-button:hover,
.export-button:focus {
  background-color: #16437e;
  color: #ffffff;
}

.export-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.export-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/* CSS for the party signature page */
.party-signature-page {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 2rem;
  color: #333;
}

.party-title {
  margin-bottom: 3rem;
  color: #333;
}

.party-title h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #333;
}

.party-title h4 {
  font-weight: normal;
  font-size: 1rem;
  margin-top: 0.3rem;
  color: #333;
}

.party-entry {
  text-align: left;
  max-width: 600px;
  margin: 2rem auto;
  color: #333;
}

.party-entry h3 {
  font-weight: bold;
  color: #333;
}

.party-body {
  font-style: normal;
  color: #333;
}

.party-body span.hint {
  font-style: italic;
  font-weight: bold;
  background-color: #f5dcdc;
  color: #333;
  padding: 0.1em 0.3em;
  border-radius: 3px;
}

.party-definition {
  margin-left: 1rem;
  margin-top: 0.5rem;
  text-decoration: underline;
  color: #333;
}
.party-definitions {
  list-style-type: "-";
  padding-left: 0;
  margin-top: 1rem;
  color: #333;
}

.party-definition span {
  display: block;
  margin-bottom: 0.3rem;
  color: #333;
}

/*signature page styles*/
.signature-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-family: Arial, sans-serif;
}

.subtitle {
  font-style: italic;
  color: grey;
  margin-bottom: 40px;
}

.party-name {
  font-weight: bold;
  margin-bottom: 40px;
}

.signature-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 60%;
}

.signature-line .line {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
